<h1>Eat-da-Burger</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger}}

        <button data-burgerID="{{this.id}}" class="devour">Devour</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Burger to the Menu</h2>
<form id="addburger" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Add my Burger!</button>
</form>


<script type="text/javascript">
  $(".devour").on("click", function(event) {
    var id = $(this).data("burger");

    // Send the DELETE request.
    $.ajax("/burgers/" + id, {
      type: "DEVOUR"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger: $("#addburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  
</script>